In [1]:
import pandas as pd

from matplotlib import pyplot as plt

In [2]:
u_hists = pd.read_csv('./data/train.csv')
u_feats = pd.read_csv('./data/user-features.csv')

In [57]:
u_hists.groupby(by=['item_id', 'order']).count().sort_values(by='user_id', ascending=False)[:25]

               user_id
item_id order
150     1         4359
90      2          864
57      3          487
101     3          458
19      3          373
24      5          367
49      2          354
19      2          351
24      6          345
        4          344
3       2          344
33      2          344
19      9          337
81      7          335
57      4          335
19      8          333
57      5          333
19      7          332
3       3          329
24      7          328
81      6          324
        5          324
19      5          323
4       11         322
3       7          321